.post-container{
  margin-left: 28%;
}
#userName{
  font-size: 20px;
  font-weight: 100;
  font-family:"Teko"; 
}
#follow-button{
  color: rgb(101, 9, 162);
}
.top-bar{
  display: flex;
  justify-content: space-between;
}
.top-bar-child{
  padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 15px;
    margin: 0px;
}
.card-post{
    
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.799);
   
    max-width: 468px;
    height: max-content;
    border: 1px solid rgba(183, 180, 180, 0.2);
    margin-bottom: 20px;
    /* margin-top: 10px; */
}
.card-post img{
    padding-left: 0;
    width: 100%;
    max-height: 585px;
    border-top: 1px solid rgba(195, 191, 191, 0.2); 
    border-bottom: 1px solid rgba(195, 191, 191, 0.2); 
}
  #text{
    width: 90% ;
    font-size:12px;
    background-color: transparent;
    outline: none;
    
  }
  #follow-button:hover{
    cursor: pointer;
  }
  /* h3{
   

  } */
  .card-content{
    padding-left: 10px;
  }

.material-icons {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 .card-icons{
  padding-bottom: 0;  

 }
 /* .home{
  margin-top: 4%;
 } */